body
{
  margin: 0;
  padding: 0;
}
.container
{
  width: 100%;
  position: relative;
}
.slider
{
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
}
.slider:nth-child(1)
{
  width: 400px;
  height: 300px;
  z-index: 1;
  background: url("images/shirt_blue.png");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 1;
}
.slider:nth-child(2)
{
  width: 200px;
  height: 150px;
  top: 250px;
  z-index: 0;
  left: 40%;
  opacity: 0.5;
  background: url("images/shirt_red.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.slider:nth-child(3)
{
  width: 200px;
  height: 150px;
  z-index: -1;
  top: 250px;
  left: 60%;
  opacity: 0.5;
  background: url("images/shirt_green.png");
  background-size: cover;
  background-repeat: no-repeat;
}
